<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Registry details for {{ given_uri.uri_string }}</title>
  <meta name="robots" content="NONE,NOARCHIVE" />
  <link rel="stylesheet" type="text/css" href="/media/uriresolve/css/detail.css" /> 
</head>
<body>
  <div id="summary">
    <h1>Registry details for "{{ given_uri.label }}"</h1>
  </div>
  <div class="info">
	<table>
		<tr>
			<th>Resource URI:</td>
			<!--<td><strong>{{ given_uri.uri_string }}</strong></td>-->
			<td><strong>{{ breadcrumbs|safe }}</strong></td>
		</tr>
		<tr>
			<th>Resource Label:</td>
			<td>{{ given_uri.label }}</td>
		</tr>
		<tr>
			<th>Resource Description:</td>
			<td>{{ given_uri.description|safe }}</td>
		</tr>
		<tr>
			<th>Resolve-To URL:</td>
			<td><a href="{{ given_uri.url_string }}">{{ given_uri.url_string }}</a></td>
		</tr>
	</table>
  </div>
  <div class="info">
	<table class="registry">
		<tr>
			<th class="colhead">Resource Type</th>
			<th class="colhead">Description</th>
			<th class="colhead">Token</th>
		</tr>
	{% for type in resource_types %}
		<tr>
			<td><a href="/uri-gin/{{ type.name_authority.name }}/type/{{ type.token }}/">{{ type.label }}</a></td>
			<td>{{ type.description }}</td>
			<td>{{ type.token }}</td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>
